<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="panda.png">
    <script src="script.js"></script>
    <script src="src/main/resources/static/script.js"></script>
    <title>MojAsistent</title>
</head>
<script>
    
    const app = firebase.initializeApp(firebaseConfig);
    const analytics = firebase.analytics();
    const messaging = firebase.messaging();



messaging.onMessage(async (payload) => {
console.log('Poruka primljena. ', payload);
const notificationTitle = payload.notification.title;
const notificationBody = payload.notification.body;

// Prikazivanje SweetAlert notiikacije
Swal.fire({
title: notificationTitle,
text: notificationBody,
imageUrl: 'resources/static/panda.png', // Postavite URL za ikonu ako je potrebno
showDenyButton: true,
showCancelButton: true,
confirmButtonText: 'Popio sam',
denyButtonText: 'Nisam popio',
}).then(async (result) => {
if (result.isConfirmed) {
  // Korisnik kliknuo "Popio sam"
  const token = await getTokenFromCache('/token');
  if (token) {
    await sendDataToServer('https://mojasistenttestenvironment-e209f0bbc59e.herokuapp.com/spremiReminder', { action: 'popio', token });
  }
} else if (result.isDenied) {
  // Korisnik kliknuo "Nisam popio"
  const token = await getTokenFromCache('/token');
  if (token) {
    await sendDataToServer('https://mojasistenttestenvironment-e209f0bbc59e.herokuapp.com/spremiNoReminder', { action: 'nisam_popio', token });
  }
}
});
});

async function getTokenFromCache(tokenURL) {
try {
const response = await caches.match(tokenURL);
if (response) {
  const token = await response.text();
  console.log('Token dohvaćen iz cache-a:', token);
  return token;
} else {
  console.log('Token nije pronađen u cache-u.');
  return null;
}
} catch (error) {
console.error('Error retrieving token from cache:', error);
return null;
}
}

async function sendDataToServer(url, data) {
try {
const response = await fetch(url, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
});

console.log('Server response:', response);
} catch (error) {
console.error('Error sending data:', error);
}
}
</script>
<body oncontextmenu="return false" class="snippet-body like" style="text-align:center">
<div class="flex1">
    <button onclick="javascript:history.back()" class="wrapper" style="width:25%; max-width: 82px; padding: 8px 8px 8px 8px;">
        <img src="backarrow_logo.png">
    </button>

    <button th:onclick="window.location.href = '/form-01?id=[[${currPatient.id}]]&password=[[${currPatient.password}]]'" class="wrapper" style="width:25%; max-width: 82px;padding: 8px 8px 8px 8px;">
        <img src="home_logo.png">
    </button>

</div>
<div class="flex2">

<div class="wrapper" style="align-items:center; text-align:center; font-weight:500">

    <form id="make_checkbox_select" action="/form-end">
        <label for="text1" style="margin-bottom: 32px; text-align:center; font-weight:500">
            Kakvu vrstu pomoći trebate?
        </label>

        <select  id="text1" name="text1"  	autofocus>
            <option>👪 Podrška obitelji</option>
            <option>👩‍⚕️Podrška medicinskog tima</option>
            <option>🕯️ Duhovna podrška</option>
            <option>👩🏻‍⚕ Psihološka podrška</option>
            <option>💊 Lijek</option>
         </select>

        <label for="text">Želiš li još nešto dodati?</label>
        <textarea id="text" name="text" rows="6" placeholder="&#10&#10Unesi ovdje" style="width: 100%; margin-top: 16px; font-size: 1rem; border: solid 1px black; padding: 5px"></textarea>


        <button class="button-next" type="submit">Dalje</button>

    </form>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script>

       	$(function()
	{
		var mySelectCheckbox = new checkbox_select(
		{
			selector : "#make_checkbox_select",



		});

	});

    </script>


</div></div>

</body>
</html>